body {
	font-family: Lobster, sans-serif;
}

html {
	background-color: #1a1a1a;
}

section, header {
	position: relative;
	background-size: cover;
	background-position: center;
	background: url(../img/back2.jpg) center center / cover;
	background-color:rgba(0,0,0,.7);
	background-blend-mode:darken;
}

hr {
	height: 1px;
	width: 290px;
	background-color: #1a1a1a;
}

.site-header {
	height: 100vh;
	/* background-color: #1a1a1a; */
	position: relative;
}
.logo {
	width: 196px;
	height: auto;
	padding-top: 40px;
}

.hamburger {
	position: absolute;
	right: 40px;
	top: 40px;
}

.hamburger-inner,
.hamburger-inner:after ,
.hamburger-inner:before {
	background-color: #fff;

}

.mm-navbar {
	height: auto;
	position: relative;
	border: none; 
}

.mm-navbar .mm-title img{
	width: 196px;
	height: auto;
	/* margin-bottom: 15px; */
}

.mm-title {
	padding: 0;
}

.mm-panels>.mm-panel>.mm-listview:first-child, .mm-panels>.mm-panel>.mm-navbar+.mm-listview {
	margin-top: 0;
}

.mm-panels>.mm-panel:after, .mm-panels>.mm-panel:before {
	height: 0;
}

.mm-menu.mm-theme-black .mm-listview>li.mm-selected>a:not(.mm-next), .mm-menu.mm-theme-black .mm-listview>li.mm-selected>span {
	background-color: transparent;
	color: #ffd700;
}

.mm-menu.mm-theme-black .mm-listview > li a:not(.mm-next) {
	color: #fff;
	font-size: 22px;
	line-height: 30px;
}

.mm-menu.mm-theme-black .mm-listview > li a:not(.mm-next):hover {
	color: #ffd700;
	transition: color 0.25s ease;
}

.mm-menu.mm-theme-black .mm-listview > li a:not(.mm-next)::before {
	content: '\f296';
	font-family: fontawesome;
	margin-right: 12px;
	text-decoration: none;
	font-size: 22px;
}

html.mm-opened {
	overflow-y: scroll;
}

.mm-panels > .mm-panel .mm-hasnavbar {
	right: -18px;
}

.mm-listview>li:not(.mm-divider):after{
	display: none;
}

.mm-listview > li.active > a {
	color: #ffd700;
}

.mm-listview li {
	padding-left: 32%;
	/* padding-right: 25%; */
	/* padding-left: 26%; */
	text-align: left;
	padding-top: 10px;
}

.mm-listview li:hover {
	color: #ffd700;
}

.phone {
	float: right;
	padding-top: 50px;
	position: absolute;
	right: 120px;
	top: 5px;
	white-space: nowrap;
}

.phone .fa {
	color: #fff;
	font-size: 22px;
}

.phone a {
	text-decoration: none;
	color: #fff;
	padding-left: 10px;
	padding-right: 50px;
	font-size: 22px;
}

#page-preloader{
	position: fixed;
	left: 0;
	top: 0;
	right:0;
	bottom:0;
	background: #1a1a1a; 
	z-index: 30;
}

.contpre{
	width: 250px;
	height: 100px;
	position: absolute;
	left: 50%;top: 48%;
	margin-left:-125px;
	margin-top:-75px;
	color:#ffd700;
	font-size:40px;
	letter-spacing:-2px;
	text-align:center;
	line-height:35px;
}

#page-preloader .spinner {
	position: absolute;
	width: 40px;
	height: 40px;
	background: url(/preloader.gif) center center no-repeat;
	background-size:40px;    
	margin: -16px 0 0 -16px;
}

#particles-js {
	height: 100vh;
}

.welcome {
	text-align: center;
	font-size: 50px;
	color: #fff;
	letter-spacing: 2px;
	margin-top: 220px;
}

.welcome {
	/* padding-right: 40px; */ 
}

.welcome h1 {
	padding-bottom: 10px;
}

.welcome h2 {
	font-size: 48px;
}
.welcome hr {
	height: 1px;
	width: 290px;
}

.welcome .fa {
	font-size: 22px;
}

.welcome p {
	font-size: 28px;
	padding-bottom: 20px;
}

.particles-js-canvas-el {
	z-index: 0;
	margin-top: -65vh;
}

.main-button {
	text-align: center;
	padding-top: 24px;
}

.main-button .button {
	display: inline-block;
	border: none;
	color: #fff;
	text-decoration: none;
	background-color: #333;
	padding: 15px 45px;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 3px;
	border-radius: 45px;
	text-align: center;
	position: relative;
	outline: none;
	transition: background-color .1s ease;
	border: 2px solid #fff;
}

.main-button .button:hover {
	background-color: #5a5a5a;
	color: #fff;
	border: 2px solid  #fff;
}

.header-social {
	position: absolute;
	display: flex;
	right: 0;
	height: 100%;	
	border-left: 1px solid #fff;
	top: 0;
	padding: 0 2px;
}

.social{
	margin: auto;
}

.social a {
	color: #fff;
	font-size: 20px;
	display: block;
	background-color: #333;
	height: 38px;
	width: 38px;
	text-align: center;
	margin: 18px 0;
	line-height: 38px;
	border-radius: 25px;
	transition: background-color .25s ease;
}

.social a:hover {
	background: #555;
}

.header-contacts {
	position: absolute;
	bottom: 0;
	left: 0;
	border-top: 1px solid #fff;
	padding: 6px 0;
	width: 100%;
	color: #fff;
	font-size: 24px;
}

.header-contacts .fa{
	margin-right: 5px;
	font-size: 20px;
}

/********************** BUTTON UP PAGE ******************************/

.btn_up{
	position: fixed;
	bottom: 50px;
	right: 50px;
	width: 50px;
	height: 50px;
	border-radius:50%;
	border:2px solid #ccc;
	background: #333;
	z-index:100;
	outline: 0!important;}

	.btn_up:after{
		content:'';
		width: 10px;
		height: 10px;
		border-top: 2px solid #ccc;
		border-left: 2px solid #ccc;
		transform:rotate(45deg);
		position: absolute;
		top: 6px;
		bottom:0;
		left: 0;
		right: 0;
		margin:auto;
	}

	.about {
		background-color: #191919;
		padding-bottom: 100px;
	}

	.titleabout {
		font-size: 50px;
		color: #f0f0f0;
		text-align: center;
		font-weight: 500;
		margin-bottom: 10px;
		margin-top: 30px;
	}

	.about h3 {
		font-size: 40px;
		padding: 20px 0;
	}

	.about p {
		font-size: 18px;
		line-height: 36px;
	}

	#h2p {
		background: #f0f0f0;
		border-radius: 0 50px 50px 0;
	}

	.about-social {
		text-align: center;
	}

	.about-social li{
		display: inline-block;
		margin: 0 10px;
	}

	.photo {
		padding: 0;
		background: #f0f0f0;
		border-radius: 50px 0 0 50px;
	}

	#photo {
		float: left;
		width: 85.7%;
		border-radius: 50px 0 0 50px;
/* 	height: auto;
	margin: 0 auto;
	display: block;
	z-index: 6000; */
}

.gallery-title
{
	font-size: 50px;
	color: #333;
	text-align: center;
	font-weight: 500;
	margin-bottom: 10px;
	margin-top: 50px;
}

.gallery hr{
	height: 1px;
	width: 290px;
	background-color: #1a1a1a;
}

.filter-button {
	font-size: 18px;
	border: 1px solid #1a1a1a;
	border-radius: 5px;
	text-align: center;
	color: #1a1a1a;
	margin-bottom: 30px;
}

.filter-button:hover {
	font-size: 18px;
	border: 1px solid #1a1a1a;
	border-radius: 5px;
	text-align: center;
	color: #1a1a1a;
	background-color: #ffd700;
}

.btn-default:active .filter-button:active {
	background-color: #ffd700;
	width: 1000px;
	color: white;
}

.portfolio_works {
	min-height: 1000px;
	background: #e8e6e6;
}

.img-responsive {
	width: 365px;
	height: auto;
}

.img-responsive:hover {
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	-o-transform: rotate(-10deg);
	-ms-transform: rotate(-10deg);
	transform: rotate(-10deg); 
}


.port-image {
	width: 100%;
}

.gallery_product {
	margin-bottom: 30px;
}

.title_study h2 {
	font-size: 50px;
	color: #333;
	text-align: center;
	font-weight: 500;
	margin-bottom: 10px;
	margin-top: 30px;
}

.study-section {
	background: #e8e6e6;
}

.study-grid h3 {
	font-family: 'Nunito-Bold';
	font-size: 2.5em;
	text-transform: capitalize;
	color: #393b3a;
	padding-top: 30px;

}
.study-grid span {
	color: black;
	text-decoration: underline;
	font-size: 1.1em;
}

.study-grid p {
	font-size: 1.2em;
	color: #393b3a;
	padding: 1.1em 0 0 0;
}

.study-grid label {
	font-size: 0.8em;
	color: #9CA69D;
	margin: 0 0 0 7px;

}
.progress {
	margin: 10px 0;
	box-shadow: none;
	background-color: #DCDCDC;
}

.progress-bar-success {
	background-color: #008080;
	box-shadow: none;
}

.progress-bar-info {
	background-color: ##006400;
	box-shadow: none;
}

.progress-bar-warning {
	background-color: #4682B4;
	box-shadow: none;
}

.progress-bar-danger {
	background-color: #4169E1;
	box-shadow: none;
}

.study-grid h4 {
	font-size: 1.3em;
	text-transform: capitalize;
	color: rgb(29, 26, 26);
}

.study1 {
	padding: 1em 0 0;
}
.study2 {
	padding: 2em 0 0;
}

.contactme {
	background-color: #191919;
}

.contactme h1 {
	font-size: 50px;
	color: #cfcfcf;
	text-align: center;
	font-weight: 500;
	margin-bottom: 10px;
	margin-top: 30px;
}

#my-footer {
	background: #000;
	color: #cfcfcf;
	font-size: 18px;
	padding: 10px 0;
}

.post img{
	/* height: auto; */
	width: 350px;
	display: block;
	margin: 0 auto;

}

.follow a {
	color: #cfcfcf;
	font-size: 24px;
	line-height: 38px;
	transition: background-color .25s ease;
}

.follow .fa {
	padding-right: 25px;
	text-align: center;
}

/* KOSTILI */

.tel {
	padding-left: 15px;
}

.skype {
	padding-left: 8px;
}

.mail {
	padding-left: 5px;
}

.git {
	padding-left: 8px;
}

#my-footer nav li {
	display: inline-block;
}

#my-footer nav a {
	color: #cfcfcf;
	margin: 0 5px;
	font-size: 22px;
}

#my-footer nav {
	text-align: center;
}

#my-footer .code {
	text-align: right;
}

/*************************** MEDIA QUERY ****************************/

@media only screen and (max-width: 769px) {
	.phone {
		visibility: hidden;
	}
	.logo {
		margin-left: 20%;
	}

	#h2p {
		border-radius: 0;
	}
	.about {
		background-color: #191919;
		padding-bottom: 40px;
	}

	#my-footer {
		text-align: center;
	}

	#my-footer .code {
		text-align: center;
	}

	.study-grid h3 {
		text-align: center;
	}

	#my-footer {
		line-height: 26px;
	}
	.about h3 {
		font-size: 40px;
		padding: 20px 50px;
		text-align: center;
	}
}

@media only screen and (max-width: 400px) {
	.logo {
		margin-left: 4%;
	}
	#h2p {
		border-radius: 0;
	}

	#h2p h2 {
		text-align: center;
	}


}

@media only screen and (max-width: 375px) {
	.logo {
		margin-left: 4%;
	}
	.welcome  {
		position: absolute;
		top: -150px;
		padding-left: 6%;
	}

	.welcome h1 {
		font-size: 30px;
	}

	.button {
		position: absolute;
		top: 300px;
		left: -46px;
	}

	.welcome hr {
		width: 200px;
	}

	.welcome h2 {
    font-size: 30px;
}
	.welcome {
		padding-left: 40px;
	}
}

@media only screen and (max-width: 320px) {
	.button {
		position: absolute;
		top: 260px;
		left: -20px;

	}
}

@media only screen and (max-width: 414px) {
	.welcome  {
		position: absolute;
		top: -150px;
		/* padding-left: 6%; */
	}

	.button {
		position: absolute;
		top: 300px;
		left: -30px;
	}
}

@media only screen and (max-width: 1200px) {
	.post {
		visibility: hidden;
	}
	.follow {
		text-align: center;
	}

	.photo {
		width: 20%;
		background: transparent;
	}

}

@media only screen and (max-width: 980px) {
	.photo {
		visibility: hidden;
	}
}