/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1100px) {
	footer .btn-email {
		padding: 14px 80px;
	}
/*	.footer_p_con {
		max-width: 300px;
	}*/
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.team_p h3 {
		font-size: 14px;
		text-align: center;
		padding: 10px;
	}

	.team_p p {
		padding: 5px;
	}
	.tills .till {
	background-position: 60px 60px;
}

.tills .till:nth-child(2) {
	background-position: 60px 60px;
}

.tills .till:last-child {
	background-position: 60px 60px;
}

.subscribe hr {
	width: 250px;
}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	
	/*Disable Animation on Mobile Devices*/
	.animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
	.navbar-form {
		border: none;
	}

	.btn-default {
		display: none;
	}

	.btn-search {
	display: none;
	}

	.navbar-brand {
	}

		.tills .till {
	background-position: 140px 60px;
}

.tills .till:nth-child(2) {
	background-position: 140px 60px;
}

.tills .till:last-child {
	background-position: 140px 60px;
}
.design h2 {
	text-align: center;
}

.design p{
	text-align: center;
}

.partner_ico {
	text-align: center;
	max-width: 90%;
}

 .news .new {
 	text-align: center;
 }

 .subscribe {
 	text-align: center;
 }

 .subscribe input {
 	text-align: center;
 }

 .subscribe hr {
 	width: 170px;
 }

 .btn-subscribe{
 	margin: 0 auto; 
 	margin-bottom: 15px;
 }

 footer {
 	text-align: center;
 }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1300px) {

}